*{
    font-family: 'Quicksand', sans-serif;

}

#body {
    background-color: #e6f3ff;
}
/*#cccccc*/
body,
html {
    background-color: #cccccc !important;
}
#descriptionArea {
    text-align: center;
}

.intro {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 50px;
}

.intro h1 {
    font-weight: 900;
    text-transform: uppercase;
}

.intro h5 {
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}


.intro h1 {
    font-weight: 900;
    text-transform: uppercase;
}

.intro h5 {
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}

.about .col {
    margin-bottom: 24px;
}

.about h5 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about h6 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.about hr {
    width: 40px;
    margin-bottom: 45px;
}

.about .card {
    text-align: center;
}

#logo {
    margin-top: 200px;
}

#userbar {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

.btn {
    margin-top: 5px;
    background-color: #008cba;
}

#search {
    background-color: white;
    color: black;
}

#login {
    background-color: white;
    color: black;
}

#register {
    background-color: white;
    color: black;
}

#add {
    background-color: white;
    color: black;
}

.dropdown-button {
    background-color: white;
    color: black;
}

#userheader {
    text-align: center;
}

#everyoneheader {
    text-align: center;
}

.myButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background: -moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background: -webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background: -o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background: -ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee ', endColorstr='#468ccf ', GradientType=0);
    background-color: #63b8ee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3866a3;
    display: inline-block;
    cursor: pointer;
    color: #14396a;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7cacde;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background: -moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background: -webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background: -o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background: -ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#468ccf ', endColorstr='#63b8ee ', GradientType=0);
    background-color: #468ccf;
}

.myButton:active {
    position: relative;
    top: 1px;
}

#title {
    font-size: 50px;
    padding-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

label {
    font-size: 20px;
}

#modal-header {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}

#avgcost{
    padding-left: 90px;
}

#costheader {
    font-size: 15px;
    text-align: center;
}
#modal1{
    background-color: #d9e6f2;
}
.modal { 
    width: 95% !important ; 
    max-height: 100% !important

}
#modal-header {
    text-align: center;
    font-size: 20px;
}